.container {
    margin:0 auto;
    max-width:1025px;
    width:100%;
}

.main {
    margin-top:276px;
}

.inner-header {
    align-items:center;
    display:flex;
    justify-content:space-between;
    margin-top:50px;
}

.header-logo {
    margin-left: 10px;
}

.inner-header .icon {
    display: none;
    color:#F16534;
    padding-right: 20px;
}

.inner-header .icon:active {
    opacity:.5;
}

@media screen and (max-width: 600px) {
    .nav a {
        display: none;
    }
    .inner-header .icon {
        display: block;
    }

    .nav.responsive {
        position: absolute;
        top: 90px;
        background-color: white;
        width: 100%;
        border-bottom: 1px solid red;
    }
    .nav.responsive a {
        display: block;
        margin-top: 5px;
        padding-left: 30px;
    }
}

.header-logo img {
    display:block;
}

.nav-link {
    color:#F16534;
    display:inline-block;
    font-weight:bold;
    margin-right:20px;
    text-decoration:none;
    text-transform:uppercase;
}

.nav-link-active {
    opacity:.5;
}
